#!/usr/bin/make -f

srcpkg = $(shell LC_ALL=C dpkg-parsechangelog | grep '^Source:' | cut -d ' ' -f 2,2)
debver = $(shell LC_ALL=C dpkg-parsechangelog | grep '^Version:' | cut -d ' ' -f 2,2)
upstreamver = $(shell echo $(debver) | cut -d '-' -f 1,1 )

gitver = $(shell [ -x /usr/bin/git ] && git describe --tags --match '*\.*\.*' $$(git merge-base -a HEAD master ) | sed -e 's/_/./g' -e 's/-/+git/')

# one ring to rule them all...
%:
	dh $@ --buildsystem=cmake

CMAKE_FLAGS=-DCMAKE_INSTALL_PREFIX:PATH=/usr \
	-DCMAKE_EXE_LINKER_FLAGS="-Wl,--no-undefined" \
	-DISIS_DEBUG_LOG:BOOL=OFF \
	-DQT_QMAKE_EXECUTABLE=/usr/bin/qmake-qt4 \
	-Dvast_WIDGET_Qt_DEFAULT:BOOL=ON \
	-Dvast_WIDGET_QGEOM:BOOL=ON \
	-Dvast_WIDGET_VTK:BOOL=ON \
	-Dvast_PLUGIN_PROFILEPLOTTER:BOOL=ON \
	-Dvast_PLUGIN_ORIENTATIONCORRECTION:BOOL=ON \
	-Dvast_PLUGIN_MASKEDIT:BOOL=ON \
	-Dvast_PLUGIN_CORRELATIONPLOTTER:BOOL=ON \
	-Dvast_PLUGIN_HISTOGRAM:BOOL=ON \
	-Dvast_PLUGIN_PROPERTYTOOL:BOOL=ON \
	-Dvast_PLUGIN_VOXELOPERATION:BOOL=ON \
	-Dvast_DOCUMENTATION:BOOL=ON \
	-Dvast_OPENMP:BOOL=OFF \
	-DGIT_REVISION="Debian-$(debver)"

override_dh_auto_test:
	# don't work ATM

override_dh_auto_configure:
	dh_auto_configure -- $(CMAKE_FLAGS)

override_dh_auto_install:
	dh_auto_install
	# remove embedded javascript libs -- provided by other packages
	rm -f debian/vast/usr/share/vast/doc/html/_static/jquery.js
	rm -f debian/vast/usr/share/vast/doc/html/_static/underscore.js

get-orig-source:
	git archive --format=tar --prefix=$(srcpkg)-$(gitver)/ HEAD | \
		gzip -9 > $(srcpkg)_$(gitver).orig.tar.gz
