#!/usr/bin/make -f

srcpkg = $(shell LC_ALL=C dpkg-parsechangelog | grep '^Sorce:' | cut -d ' ' -f 2,2)
debver = $(shell LC_ALL=C dpkg-parsechangelog | grep '^Version:' | cut -d ' ' -f 2,2)
upstreamver = $(shell echo $(debver) | cut -d '-' -f 1,1 )

gitver = $(shell [ -x /usr/bin/git ] && git describe --tags --match '*\.*\.*' $$(git merge-base -a HEAD master ) | sed -e 's/_/./g' -e 's/-/+git/')

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/cmake.mk

# one ring to rule them all...
%:
	dh $@ --buildsystem=cmake

DEB_CMAKE_EXTRA_FLAGS = \
	-DCMAKE_BUILD_TYPE="Release" \
	-DCMAKE_C_COMPILER="/usr/bin/gcc" \
	-DISIS_DEBUG_LOG:BOOL=OFF \
	-DQT_QMAKE_EXECUTABLE=/usr/bin/qmake-qt4 \
	-Dvast_PLUGIN_PROFILEPLOTTER:BOOL=ON \
	-Dvast_PLUGIN_ORIENTATIONCORRECTION:BOOL=ON \
	-Dvast_PLUGIN_MASKEDIT:BOOL=ON \
	-Dvast_PLUGIN_CORRELATIONPLOTTER:BOOL=ON \
	-Dvast_PLUGIN_HISTOGRAM:BOOL=ON \
	-Dvast_PLUGIN_PROPERTYTOOL:BOOL=ON \
	-DVAST_DOCUMENTATION:BOOL=ON \
	-DVAST_OPENMP:BOOL=ON \
	-DGIT_REVISION="Debian-$(debver)"


get-orig-source:
	git archive --format=tar --prefix=$(srcpkg)-$(gitver)/ HEAD | \
		gzip -9 > $(srcpkg(_$(gitver).orig.tar.gz