[Desktop Entry]
Encoding=UTF-8
GenericName=MRI/fMRI Image Viewer
GenericName[de]=Betrachter fuer MRT-Daten
Name=vast
Exec=vast -in %F
TryExec=vast
Type=Application
Terminal=false
Comment=This program is part of lipsia/isis
Categories=Education;Graphics;Science;DataVisualization;MedicalSoftware;Qt;Viewer;
Icon=vast.xpm
MimeType=image/nifti;image/vista;image/dcm;image/ima;image/nifti-gz;image/ima-gz;
